<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <!-- <a class="nav-item is-tab is-active"><i class="fa fa-home"></i> &nbsp; Home</a> -->
    </div>

    <div class="nav-center">
      <a class="nav-item" href="#">
        <h3 class="title">墨鱼 todos</h3>
      </a>
    </div>

    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>

    <div class="nav-right nav-menu">
      <span class="nav-item">
        <a class="nav-item is-tab is-active"><i class="fa fa-home"></i> &nbsp; Home</a>
      </span>
    </div>
  </div>
</nav>
